*{
    margin: 0%;
    padding: 0%;
    z-index: 0%;
    box-sizing: border-box;
}
.logo{
    height: 10vh;
    width: 5vw;
}
nav{
    display: flex;
    background-color: grey;
    padding: 0.2rem;
    align-items: center;
    justify-content: space-between;
}
ul li a{
    text-decoration: none;
    margin-top: 2px;
    align-items: center;
}
ul li{
    list-style: none;
}
a{
    color: white;
}
.buttons{
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 50px;
}
.login{
    border: 50px;
    background: white;
    margin: 30px;
    /* width: 10vw;
    height: 50vh; */
    align-items: center;
}
.form{
    display: flex;
    justify-content: space-between;
    /* margin: 30px; */
}
.email{
    margin-top: 20px;
}
.pass{
    margin-top: 20px;
}
.rem{
    margin-top: 10px;
    justify-content: space-between;
}